<div id="<%= @grid.id %>" class="presentation-grid">
  <table>
    <caption>
      <%= @grid.title %>

      <% unless @grid.links.empty? %>
        <ul class="actions">
          <% @grid.links.each do |link| %>
            <li><%= link %></li>
          <% end %>
        </ul>
      <% end %>
    </caption>
    <thead>
      <tr>
        <% @grid.fields.each do |field| %>
          <th>
            <% if field.sortable? %>
              <%= link_to field.name, field.sorted_url(request), :class => "sortable" %>
            <% else %>
              <%= field.name %>
            <% end %>
          </th>
        <% end %>
        <% unless @grid.record_links.empty? %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% if @grid.presentable.blank? %>
        <tr>
          <td colspan="<%= @grid.colspan %>">
            No records found.
          </td>
        </tr>
      <% else %>
        <% @grid.presentable.each do |record| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <% @grid.fields.each do |field| %>
              <td class="<%= 'sorted' if field.is_sorted?(request) %>">
                <%= present(field.value_from(record), :h => field.sanitize?) %>
              </td>
            <% end %>
            <% unless @grid.record_links.empty? %>
              <td>
                <ul class="actions">
                  <% @grid.record_links.each do |link| %>
                    <li><%= link.call(record) %></li>
                  <% end %>
                </ul>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <% if @grid.paginate? %>
      <tfoot>
        <tr>
          <td colspan="<%= @grid.colspan %>">
            <%= will_paginate @grid.presentable %>
          </td>
        </tr>
      </tfoot>
    <% end %>
  </table>
</div>
